@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

html {
  font-family: Roboto, 'sans-serif';
  overflow-x: hidden;
  --kana-primary: #FF8A42;
  --kana-secondary: #FEF0E7;
  --kana-gray: #505050;
  --heading-size: 24px;
  --subheading-size: 16px;
  --title-size: 18px;
  --text-size: 16px;
}

body {
  overflow-x: hidden;
}

header, section {
  max-width: 100%;
}

address {
  font-style: inherit;
}

.color-primary {
  color: var(--kana-primary);
}

#logo {
  display: flex;
}

#logo img {
  width: 58px;
}

#logo h1 {
  margin-left: 15px;
  font-size: var(--heading-size);
  line-height: 1.2;
  font-weight: 700;
}

#lang {
  position: absolute;
  right: 1rem;
  top: -2px;
  background-color: var(--kana-secondary);
  border-radius: 0 0 4px 4px;
  padding: 5px;
  border: 1px solid var(--kana-gray);
  font-size: 14px;
}

.heading {
  font-size: var(--heading-size);
  line-height: 1.2;
  font-weight: 700;
}

.subheading {
  font-size: var(--subheading-size);
  line-height: 1.2;
}

.title {
  font-size: var(--title-size);
}

.text {
  color: var(--kana-gray);
  font-size: var(--text-size);
}

#raised {
  bottom: 80px;
}

header .talisman {
  position: absolute;
  left: 40%;
  bottom: 0;
  z-index: 2;
  width: 100px;
  transform: translateX(-50%);
}

.quizzes .talisman {
  position: absolute;
  left: 45%;
  bottom: -40px;
  z-index: 2;
  width: 150px;
  transform: translateX(-50%);
}

.games .talisman {
  position: absolute;
  left: 50%;
  bottom: -50px;
  transform: translateX(-50%);
  z-index: 2;
}

.screen {
  position: relative;
  z-index: 1;
  height: auto;
}

.app-bg {
  position: relative;
}

.app-bg::after {
  content: '';
  position: absolute;
  top: 5px;
  left: 10px;
  right: 10px;
  bottom: 5px;
  border-radius: 20px;
  background: repeat left/100px var(--kana-secondary) url('assets/bg.webp');
}

.coming-soon {
  position: relative;
}

.coming-soon::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .6);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 5px;
}

.coming-soon span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(-7deg);
  font-size: 22px;
  color: var(--kana-primary);
  white-space: nowrap;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -2px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.decorative {
  position: absolute;
  top: 50px;
  z-index: -1;
}

.decorative.header {
  right: -40px;
  top: 0;
}

.decorative.left {
  left: -120px;
}

.decorative.right {
  right: -120px;
  transform: rotateY(180deg);
}

.screen-demo {
  position: relative;
  display: flex;
  justify-content: center;
}

.contact {
  border-radius: 15px;
  background-color: var(--kana-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  position: relative;
  margin: 0 -1rem -1rem -1rem;
}

.footer::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -50%;
  right: -50%;
  background-color: var(--kana-primary);
  border-radius: 50% 50% 0 0;
  z-index: -1;
}

.footer .download a:first-child {
  flex: 0 0 100%;
  margin-bottom: 10px;
}

.footer .coming-soon span {
  color: #fff;
}

#qr-code {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 170px;
  text-align: center;
  border-radius: 12px 0 0 12px;
  z-index: 10;
  transition: transform .5s linear;
  background: repeat left/100px var(--kana-secondary) url('assets/bg.webp');
}

#qr-wrapper {
  padding: 20px;
  border-radius: 12px 0 0 0;
  background-color: rgba(255, 255, 255, .5);
  -webkit-backdrop-filter: blur(1.25px);
          backdrop-filter: blur(1.25px);
}

#qr-code img {
  transition: transform .3s;
  position: relative;
}

#qr-code.is-open #qr-wrapper:hover img {
  transition-delay: 1s;
  background-color: transparent;
  transform: scale(2) translateX(-20px);
}

#qr-code p {
  background: rgba(255, 255, 255, .8);
  padding: 10px 20px 20px 20px;
}

#qr-code #close-qr-btn {
  position: absolute;
  right: 0;
  top: -35px;
  padding: 5px;
  width: 35px;
  cursor: pointer;
}

#qr-code #open-qr-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 177px;
  height: 50px;
  position: absolute;
  left: -112px;
  top: 50%;
  transform: translateY(-50%) translateX(50px) rotate(-90deg);
  border-radius: 8px;
  background-color: var(--kana-secondary);
  transition: all .3s;
  opacity: 0;
}

#qr-code #open-qr-btn.shown {
  opacity: 1;
  transition-delay: .5s;
  transform: translateY(-50%) translateX(0) rotate(-90deg);
}

#qr-code #open-qr-btn img {
  padding: 0;
  width: 10px;
  margin-top: 3px;
  margin-left: 10px;
}

#qr-code.is-open {
  transform: translateY(-50%);
}

#qr-code.is-closed {
  transform: translateY(-50%) translateX(100%);
}

@media (min-width: 550px) {
  header .talisman {
    width: 120px;
  }
}

@media (min-width: 640px) {
  html {
    --kana-primary: #FF8A42;
    --kana-secondary: #FEF0E7;
    --kana-gray: #505050;
    --heading-size: 32px;
    --subheading-size: 20px;
    --title-size: 20px;
    --text-size: 18px;
  }

  .header-text {
    font-size: 20px;
  }

  #logo img {
    width: 71px;
  }
}

@media (min-width: 700px) {
  .decorative.header {
    right: 15px;
    top: 0;
  }

  .decorative.left {
    left: -70px;
  }

  .decorative.right {
    right: -70px;
  }
}

@media (min-width: 1024px) {
  #lang {
    position: fixed;
    z-index: 10;
  }

  .decorative.header {
    right: -50px;
    top: 0;
  }

  .decorative.left {
    left: -40%;
  }

  .decorative.right {
    right: -40%;
  }

  .games .talisman {
    left: 0;
    bottom: -10px;
  }

  .footer {
    margin: 0;
  }

  .footer::after {
    left: -10%;
    right: -10%;
  }

  .footer .download a:first-child {
    flex: unset;
    margin-bottom: 0;
  }
}

@media (min-width: 1280px) {
  .decorative.left {
    left: -20%;
  }

  .decorative.right {
    right: -20%;
  }

  .games .talisman {
    left: 50px;
    bottom: -10px;
  }
}

#backLink {
  position: absolute;
  top: 20px;
  left: 20px;
  transform: scale(1.5);
  padding: 5px;
  border-radius: 50%;
  background-color: #ff8a42;
}

#deleteData {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--kana-secondary);
}

#deleteData article {
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
}

#appName {
  font-size: 28px;
  margin-bottom: 15px;
  text-align: center;
}

@media(min-width: 1024px) {
  #deleteData article {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding: 20px 50px;
  }
}

/*
! tailwindcss v3.3.3 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
*/

html {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden] {
  display: none;
}

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

.container{
  width: 100%;
}

@media (min-width: 640px){
  .container{
    max-width: 640px;
  }
}

@media (min-width: 768px){
  .container{
    max-width: 768px;
  }
}

@media (min-width: 1024px){
  .container{
    max-width: 1024px;
  }
}

@media (min-width: 1280px){
  .container{
    max-width: 1280px;
  }
}

.order-1{
  order: 1;
}

.order-2{
  order: 2;
}

.order-3{
  order: 3;
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.my-8{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mb-2{
  margin-bottom: 0.5rem;
}

.mb-3{
  margin-bottom: 0.75rem;
}

.mb-4{
  margin-bottom: 1rem;
}

.mb-5{
  margin-bottom: 1.25rem;
}

.ml-10{
  margin-left: 2.5rem;
}

.ml-2{
  margin-left: 0.5rem;
}

.ml-3{
  margin-left: 0.75rem;
}

.ml-4{
  margin-left: 1rem;
}

.mr-2{
  margin-right: 0.5rem;
}

.mt-10{
  margin-top: 2.5rem;
}

.mt-24{
  margin-top: 6rem;
}

.mt-3{
  margin-top: 0.75rem;
}

.mt-4{
  margin-top: 1rem;
}

.mt-5{
  margin-top: 1.25rem;
}

.mt-8{
  margin-top: 2rem;
}

.block{
  display: block;
}

.inline-block{
  display: inline-block;
}

.flex{
  display: flex;
}

.grid{
  display: grid;
}

.hidden{
  display: none;
}

.list-decimal{
  list-style-type: decimal;
}

.flex-col{
  flex-direction: column;
}

.flex-wrap{
  flex-wrap: wrap;
}

.justify-center{
  justify-content: center;
}

.gap-8{
  gap: 2rem;
}

.whitespace-pre-line{
  white-space: pre-line;
}

.p-10{
  padding: 2.5rem;
}

.p-4{
  padding: 1rem;
}

.p-8{
  padding: 2rem;
}

.text-center{
  text-align: center;
}

.font-bold{
  font-weight: 700;
}

.uppercase{
  text-transform: uppercase;
}

.underline{
  text-decoration-line: underline;
}

@media (min-width: 640px){
  .sm\:container{
    width: 100%;
  }

  @media (min-width: 640px){
    .sm\:container{
      max-width: 640px;
    }
  }

  @media (min-width: 768px){
    .sm\:container{
      max-width: 768px;
    }
  }

  @media (min-width: 1024px){
    .sm\:container{
      max-width: 1024px;
    }
  }

  @media (min-width: 1280px){
    .sm\:container{
      max-width: 1280px;
    }
  }

  .sm\:mx-auto{
    margin-left: auto;
    margin-right: auto;
  }

  .sm\:mt-16{
    margin-top: 4rem;
  }

  .sm\:block{
    display: block;
  }

  .sm\:inline-block{
    display: inline-block;
  }

  .sm\:w-2\/3{
    width: 66.666667%;
  }

  .sm\:justify-center{
    justify-content: center;
  }

  .sm\:text-center{
    text-align: center;
  }
}

@media (min-width: 768px){
  .md\:mt-10{
    margin-top: 2.5rem;
  }

  .md\:gap-10{
    gap: 2.5rem;
  }
}

@media (min-width: 1024px){
  .lg\:mx-4{
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .lg\:ml-0{
    margin-left: 0px;
  }

  .lg\:ml-16{
    margin-left: 4rem;
  }

  .lg\:ml-3{
    margin-left: 0.75rem;
  }

  .lg\:mt-0{
    margin-top: 0px;
  }

  .lg\:mt-10{
    margin-top: 2.5rem;
  }

  .lg\:mt-20{
    margin-top: 5rem;
  }

  .lg\:mt-5{
    margin-top: 1.25rem;
  }

  .lg\:block{
    display: block;
  }

  .lg\:inline{
    display: inline;
  }

  .lg\:flex{
    display: flex;
  }

  .lg\:hidden{
    display: none;
  }

  .lg\:w-full{
    width: 100%;
  }

  .lg\:columns-2{
    -moz-columns: 2;
         columns: 2;
  }

  .lg\:flex-row{
    flex-direction: row;
  }

  .lg\:flex-nowrap{
    flex-wrap: nowrap;
  }

  .lg\:justify-start{
    justify-content: flex-start;
  }

  .lg\:justify-center{
    justify-content: center;
  }

  .lg\:gap-20{
    gap: 5rem;
  }

  .lg\:gap-5{
    gap: 1.25rem;
  }

  .lg\:p-0{
    padding: 0px;
  }

  .lg\:pt-20{
    padding-top: 5rem;
  }

  .lg\:text-left{
    text-align: left;
  }
}

@media (min-width: 1280px){
  .xl\:w-3\/4{
    width: 75%;
  }
}

@media (min-width: 1536px){
  .\32xl\:w-full{
    width: 100%;
  }
}

